
table {
    width: 100%;
}

tr.mat-footer-row {
    font-weight: bold;
}

.mat-column-quantity {
    text-align: center;
}

.thumbnail {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-size: cover;
    padding: 10px 10px;
}